/* CSS Variables for easy theme management */
:root {
  --primary-color: #111;
  --accent-color: rgb(255, 115, 0);
  --text-color: hsl(0, 0%, 90%);
  --cards-color: #333;
  --font-family: 'Roboto', sans-serif;
  --transition-speed: 0.2s;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Styles */
body {
  font-family: var(--font-family);
  line-height: 1.6;
  color: var(--text-color);
  background: #fff;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 0;
}

/* Header */
.site-header {
  background: hsl(0, 0%, 0%);
  color: #fff;
  padding: 0.5rem 0;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header-container {
  display: flex;
  justify-content:space-evenly;
}

.logo {
  font-size: 1.75rem;
  margin-right: auto;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  transition: color var(--transition-speed);
  font-size: 1.5rem;
}

.nav-links a:hover {
  color: var(--accent-color);
}

/* About Section */
.about {
  background: var(--primary-color);
  padding: 5rem 2rem;
}

.about-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.about-image img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 100%;
  border: 5px solid var(--accent-color);
  transition: transform 0.3s ease;
}

.about-text {
  max-width: 600px;
  text-align: left;
  color: var(--text-color);
}

.about-text h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: var(--accent-color);
}

.about-text p {
  font-size: 1.1rem;
  line-height: 1.8;
  margin-bottom: 1.5rem;
}

/* CTA Button */
.cta-button {
  display: inline-block;
  padding: 0.8rem 1.5rem;
  background: var(--accent-color);
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  /* border-radius: 5px; */
  transition: background 0.3s ease, transform 0.3s ease;
}

.cta-button:hover {
  background: #e67600;
  transform: translateY(-3px);
}

/* Projects Section */
.projects {
  background: var(--primary-color);
  padding: 4rem 0;
}

.projects h2 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 2rem;
  color: var(--accent-color);
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.project-card {
  background: var(--cards-color);
  border-radius: 4px;
  overflow: hidden;
  transition: transform var(--transition-speed), box-shadow var(--transition-speed);
}

.project-card:hover {
  transform: translateY(-5px) scale(1.02);
}

.project-info {
  padding: 1rem;
  color: var(--text-color);
}

.project-info h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: var(--accent-color);
}

.project-info a {
  color: var(--accent-color);
  text-decoration: none;
  font-weight: bold;
  transition: color var(--transition-speed);
}

.project-info a:hover {
  color: var(--accent-color);
}

.project-gif img {
  width: 100%;
  height: auto;
}

/* Project Header Styling */
.project-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.project-header h3 {
  font-size: 1.5rem;
  color: var(--accent-color);
  margin: 0;
}

.project-header .link-button {
  margin-left: 1rem; /* Add spacing between the title and the button */
}

/* Education Section */
.education {
  background: var(--primary-color);
  padding: 4rem 0;
}

.education h2 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 2rem;
  color: var(--accent-color);
}

.education-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.education-item {
  background: var(--cards-color);
  padding: 2rem;
  text-align: center;
  transition: transform var(--transition-speed), box-shadow var(--transition-speed);
}

.education-item:hover {
  transform: translateY(-5px) scale(1.02);
}

.education-item h3 {
  font-size: 1.5rem;
  color: var(--accent-color);
  margin-bottom: 0.5rem;
}

.education-item p {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: var(--text-color);
}

.education-item a {
  color: var(--accent-color);
  text-decoration: none;
  font-weight: bold;
  transition: color var(--transition-speed);
}

.education-item a:hover {
  color: #e67600;
}

/* Experience Section */
.experience {
  background: var(--primary-color);
  color: #fff;
  padding: 4rem 0;
}

.experience h2 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 2rem;
  color: var(--accent-color);
}

.experience-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  list-style: none;
  padding: 0;
}

.experience-list li {
  background: var(--cards-color);
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 1rem;
  font-size: 1rem;
  font-weight: bold;
  transition: transform var(--transition-speed), box-shadow var(--transition-speed);
}

.experience-list li:hover {
  transform: translateY(-5px) scale(1.02);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  background: #e67600;
}

/* Contact Section */
.contact {
  background: var(--primary-color);
  padding: 4rem 0;
  text-align: center;
}

.contact h2 {
  margin-bottom: 2rem;
  color: var(--accent-color);
  font-size: 2.5rem;
}

.contact-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

/* Contact Item */
.contact-item {
  position: relative;
  text-align: center;
  overflow: hidden;
  padding: 1rem;
  transition: transform var(--transition-speed), box-shadow var(--transition-speed);
  max-width: 250px;
  width: 100%;
}

/* Contact Info Default State */
.contact-item p,
.contact-item a,
.contact-item .copy-button,
.contact-item .link-button {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s ease, transform 0.3s ease, color var(--transition-speed);
  color: var(--text-color); /* Default color */
}

/* Contact Info Hover State */
.contact-item:hover p,
.contact-item:hover a,
.contact-item:hover .copy-button,
.contact-item:hover .link-button {
  opacity: 1;
  transform: translateY(0);
  color: var(--accent-color); /* Change to accent color on hover */
}

/* Contact Item Hover Effect */
.contact-item:hover {
  transform: translateY(-5px) scale(1.02);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.contact-item img {
  width: 50px;
  height: 50px;
  filter: invert(1) sepia(0) saturate(1000%) hue-rotate(0deg) brightness(90%); /* Adjust for --text-color */
}

.contact-item p {
  font-size: 1.25rem;
  margin: 0;
  color: var(--text-color);
}

.contact-item a {
  color: var(--accent-color);
  text-decoration: none;
  font-weight: bold;
  transition: color var(--transition-speed);
}

.contact-item a:hover {
  color: #e67600;
}

/* Tooltip Styling */
.copy-tooltip {
  position: absolute;
  bottom: -30px; /* Position below the button */
  left: 50%;
  transform: translateX(-50%);
  background: var(--accent-color);
  color: #fff;
  padding: 0.3rem 0.6rem;
  border-radius: 5px;
  font-size: 0.8rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  animation: fadeInOutBelow 2s ease; /* Use the new animation */
  pointer-events: none; /* Prevent interaction with the tooltip */
}

/* Tooltip Animation (Appear from Below) */
@keyframes fadeInOutBelow {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(10px); /* Start below */
  }
  10%, 90% {
    opacity: 1;
    transform: translateX(-50%) translateY(0); /* Move into place */
  }
  100% {
    opacity: 0;
    transform: translateX(-50%) translateY(10px); /* Fade out below */
  }
}

/* Divider */
.divider {
  background: var(--primary-color);
}
.divider-line {
  width: 75%;
  margin-inline: auto;
  height: 2px;
  background: var(--cards-color);
  border-radius: 1px;
  align-content: center;
}

/* Footer */
.site-footer {
  background: var(--primary-color);
  color: #fff;
  text-align: center;
  padding: 1.5rem 0;
}

/* Smooth Scrolling */
html {
  scroll-behavior: smooth;
}

/* Add scroll padding for sections */
section {
  scroll-margin-top: 80px; /* Adjust this value based on your header height */
}

/* Copy Button Styling */
.copy-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0.5rem; /* Add margin around the button */
  display: inline-block;
  position: relative; /* Ensure the tooltip is positioned relative to the button */
}

.copy-button img {
  width: 24px;
  height: 24px;
  transition: transform 0.2s ease;
}

.copy-button:hover img {
  transform: scale(1.1); /* Slight zoom effect on hover */
}

/* Copy Button Hover */
.copy-button:hover {
  filter: brightness(0) saturate(100%) invert(62%) sepia(78%) saturate(5412%) hue-rotate(3deg) brightness(109%) contrast(102%);
  border-radius: 5px; /* Optional: Add rounded corners */
}

.copy-button:hover img {
  filter: brightness(0) invert(1); /* Ensure the icon contrasts with the new background */
}

/* Link Button Styling */
.link-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0.5rem; /* Add margin around the button */
  display: inline-block;
  position: relative; /* Ensure tooltip or other elements are positioned correctly */
}

.link-button img {
  width: 24px;
  height: 24px;
  filter: brightness(0) invert(1); /* Ensure the icon contrasts with the text color */
  transition: transform 0.2s ease;
}

.link-button:hover img {
  transform: scale(1.1); /* Slight zoom effect on hover */
  filter: brightness(0) saturate(100%) invert(62%) sepia(78%) saturate(5412%) hue-rotate(3deg) brightness(109%) contrast(102%);}

/* Link Button Hover */
.link-button:hover {
  border-radius: 5px; /* Optional: Add rounded corners */
}